{% extends 'base.html.twig' %}

{% block title %}Писатели{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Писатели</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th><a class="btn btn-bookwoorm" href="{{ path('author_new') }}" role="button"><i class="fas fa-plus"></i> Добавить писателя</a></th>
            </tr>
        </thead>
        <tbody>
        {% for author in pagination %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.middleName }}</td>
                <td>{{ author.lastName }}</td>
                <td>
                    <a href="{{ path('author_edit', {'id': author.id}) }}"><i class="fas fa-edit"></i> Редактировать</a>
                    <a href="{{ path('author_show', {'id': author.id}) }}"><i class="fas fa-eye"></i> Просмотреть</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Не найдено записей!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
</div>
{% endblock %}
