{% extends 'base.html.twig' %}

{% block title %}Писатель{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Писатель</h1>

        <a href="{{ path('author_index') }}"><i class="fas fa-undo"></i> Назад к списку</a>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ author.id }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ author.firstName }}</td>
                </tr>
                <tr>
                    <th>Отчество</th>
                    <td>{{ author.middleName }}</td>
                </tr>
                <tr>
                    <th>Фамилия</th>
                    <td>{{ author.lastName }}</td>
                </tr>
            </tbody>
        </table>

        {{ include('author/_delete_form.html.twig') }}
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
