{% extends 'base.html.twig' %}

{% block title %}Библиотека{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Библиотека</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название книги</th>
                <th>Категория</th>
                <th>Автор</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.category.name }}</td>
                <td>
                    {% for author in book.author %}
                        <li>{{ author.FirstName }} {{ author.MiddleName }} {{ author.LastName }}</li>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('book_edit', {'id': book.id}) }}"><i class="fas fa-edit"></i> Редактировать</a>
                    <a href="{{ path('book_show', {'id': book.id}) }}"><i class="fas fa-eye"></i> Просмотреть</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Не найдено записей!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-bookwoorm" href="{{ path('book_new') }}" role="button"><i class="fas fa-plus"></i> Добавить книгу</a>
</div>
{% endblock %}
