{% extends 'base.html.twig' %}

{% block title %}Библиотека{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Библиотека</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pages</th>
                <th>Isbn</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.year }}</td>
                <td>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a class="btn btn-bookwoorm" href="{{ path('book_new') }}" role="button">Добавать книгу</a>
</div>
{% endblock %}
