{% extends 'base.html.twig' %}

{% block title %}Информация о книге{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Информация о книге</h1>

        <a href="{{ path('book_index') }}"><i class="fas fa-undo"></i> Назад к списку</a>

        <table class="table">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Название книги</th>
                    <td>{{ book.name }}</td>
                </tr>
                <tr>
                    <th>Писатели</th>
                    <td>{% for author in book.author %}
                            <li>{{ author.FirstName }} {{ author.MiddleName }} {{ author.LastName }}</li>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Кол-во страниц</th>
                    <td>{{ book.pages }}</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <th>Год издания</th>
                    <td>{{ book.year }}</td>
                </tr>
                <tr>
                    <th>Категория</th>
                    <td>{{ book.category.name }}</td>
                </tr>
                <tr>
                    <th>Дата-время создания</th>
                    <td>{{ book.createdAt is empty ? "" : book.createdAt|date('Y-m-d H:i:s P(\T)', "Europe/Moscow") }}</td>
                </tr>
                <tr>
                    <th>Дата-время обновления</th>
                    <td>{{ book.updatedAt is empty ? "" : book.updatedAt|date('Y-m-d H:i:s P(\T)', "Europe/Moscow") }}</td>
                </tr>
            </tbody>
        </table>

    {{ include('book/_delete_form.html.twig') }}
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
