<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ app_name|upper }} - {% block title %}{title}{% endblock %}</title>
    <style>
        body {
            padding-top: 3.5rem;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-bookwoorm fixed-top">
        <a class="navbar-brand font-weight-bold" href="{{ path('_homepage') }}">{{ app_name|upper }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book_index') }}">Библиотека</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_index') }}">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('author_index') }}">Писатели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Обратная связь</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUser">
                            <h6 class="dropdown-header">{{ app.user.username }}</h6>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i>
                                Профиль
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main role="main">
        {{ include('default/_flash_messages.html.twig') }}

        {% block body %}
        {% endblock %}
        </main>
    <footer class="container">
        <hr>
        <p>&copy; {{app_name|upper}} 2020</p>
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
